aiohttp @ file:///D:/bld/aiohttp_1623682523147/work
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
certifi==2021.5.30
chardet @ file:///D:/bld/chardet_1610093673558/work
click @ file:///D:/bld/click_1621503904640/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
discord.py @ file:///home/conda/feedstock_root/build_artifacts/discord.py_1623518917557/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
multidict @ file:///D:/bld/multidict_1610319160902/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv_1627149776321/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1632313171031/work
wincertstore==0.2
yarl @ file:///D:/bld/yarl_1625233126428/work
